.search{
    border-radius: 70px;
    border: 1px solid black;
    background-color: #BEE4BC;
    display: flex;
    align-items: center;

    width:412px;
    height: 70px;
}
.menu_butt, .menu_button{
    border-radius: 100%;
    background-color: #BEE4BC;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    width: 76px;
    height: 76px;
}
.menu_button{
    transform: rotate(90deg);

}
.menu_button_img{
    margin-left: 10px;
}
header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: fit-content;
    display: flex;
    justify-content: start;
    width: 87px;
    height: 92px;
}
.img{
    display: flex;
    justify-content: start;
    width: 31px;
    height: 31px;
    margin:10px;
}
.text-search, .text-search-input{
    display: flex;
    margin: auto;
    width: 90%;
    height: 70%;

}
.text-search-input{
    border: 1px solid #90bf8d;
    background-color: #BEE4BC;
    border-radius: 10px;
    font-size: 20px;
}
.menu_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 430px;
    height: 190px;
    background-color: #A3ECF2;

}


.menu {
    width: 200px;
    position: fixed;
    background-color: #ffb6c1; /* светло-розовый */
    top: 90px;
    right: -1000px;
    transition: 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px darkgrey solid;
    border-radius: 10px;
    padding: 10px;
}

.menu-item {
    padding: 15px;
    margin: 10px 0;
    color: white;
    background-color: #add8e6; /* светло-голубой */
    border-radius: 5px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #ffffff; /* белый при наведении */
    color: #ff69b4; /* розовый текст при наведении */
    transform: scale(1.05);
}

.menu-item:active {
    transform: scale(0.95);
}


